<div class="header-outer-cnt">
    <div class="logo-title-cnt">
    <mat-icon svgIcon="menu-icon" aria-hidden="false" aria-label="Note SVG icon" (click)="handleSidebar()"></mat-icon>
    <img class="header-logo" src="../../../assets/googlekeep LOGO.png">
    <span>Fundoo</span>
    </div>
    <mat-form-field appearance="outline">
        
        <mat-icon matPrefix svgIcon="search-icon"></mat-icon>
        <input matInput >
        
      </mat-form-field>
      <div class="icon-cnt">
      <mat-icon svgIcon="refresh-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
      <mat-icon svgIcon="listview-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
      <mat-icon svgIcon="setting-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
      </div>
      <div class="profile-avt">s</div>
      
</div>
